*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
 }


body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 70%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 35px;
    font-weight: 700;
    color: #7cf03d;
    text-decoration: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
    position: relative;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #7cf03d;
    font-weight: bold;
    border-bottom: 2px solid #7cf03d;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        padding-top: 10px;
    }

    .navbar ul li {
        margin: 10px 0;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.5);
    width: 80%;
    max-width: 1000px;
}

.image-section {
    position: relative;
}

.image-section img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    border: 3px solid transparent;
    box-shadow: 0 0 5px red;
    padding: 10px;
    transition: .5s;
}
.image-section img:hover{
      cursor: red;
      
      
     
}

.text-section {
    max-width: 50%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

span {
    color: red;
    font-weight: bold;
}

p {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .text-section {
        max-width: 100%;
    }

    .image-section img {
        width: 200px;
    }
}